*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: auto;
    background: #252626;
}

.container h1 {
  padding-top:30px ;
    text-align: center;
    color: aqua;
    text-shadow: 0 0 .2rem;

}

.card-container {
    display: flex;
    padding-top: 4rem;


}

.card-container .card {
    color: #fff;
    border: .2rem solid #fff;
    padding: 2rem;
    margin: 1rem;
    box-shadow: 0 .4rem .8rem aqua;
}
.card-container .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-container .card h3 {
    text-align: center;
    color: aqua;
    text-shadow: 0 0 4rem;

}

.card-container .card p {
    text-align: center;
    padding-top: .5rem;

}
.card-container .card button{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background-color:rgb(20, 25, 25);
    
}
.card-container .card a{
    text-decoration: none;
    font-weight: bold;
    color: pink;
}
@media (max-width:768px){
    .container h1 {
        font-size: 1.5rem;
    }

    .card-container {

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-container .card {
        width: 80%;
        padding: 1rem;
        margin: 1rem 0;
    }

}
